html,
body {
  margin: 0px;
  height: 100%;
}
.bg_heart {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("https://img.freepik.com/free-vector/butterfly-made-polygons-background_1009-59.jpg?w=740&t=st=1704820355~exp=1704820955~hmac=75d676d1ac3478a2d12b51dd11c05706f594e089df99413c8cbc316d1b51a7ef");
  background-size: 100vh 100vh;
  background-size: cover;
  z-index: -1;
  animation: Mrunal 55s infinite ease-in-out;
}

@keyframes Mrunal {
  0% {
    background-image: url("https://img.freepik.com/free-photo/spectral-light-illuminates-transparent-red-colored-red-roses-abstract-flower-art-generative-ai_157027-1729.jpg?w=826&t=st=1704820222~exp=1704820822~hmac=705da4897a90088a96990a15deb9fbda2ffc9c51bda6893fe3b7982b0d4627ad");
  }
  25% {
    background-image: url("https://img.freepik.com/free-vector/landscape-with-trees-against-sunset-sky_1048-14241.jpg?w=740&t=st=1704820433~exp=1704821033~hmac=b46636703f6bd08398df3089ce10ff8e89b728fce15bd29634e369d2e632fd89");
  }
  50% {
    background-image: url("https://img.freepik.com/free-photo/candle-with-lotus-flower-it_1340-25801.jpg?t=st=1704820508~exp=1704824108~hmac=c807290970a37bfc2452817a42427b72a991dfbf912f0cc36f2a0850e23d7501&w=740");
  }
  80% {
    background-image: url("https://img.freepik.com/free-photo/colorful-flower-with-green-leaf-it_1340-42928.jpg?t=st=1704820685~exp=1704824285~hmac=17415ae13c109695f854377acd2c4345459e7692fb32d0dca28788e0f05ad46a&w=360");
  }
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
  font-family: cursive;
}
